
.section-banner{
    width:100%;
   
    
    .banner{
        width: 100%;
        height: inherit;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        
        .banner-left{
            flex:1;
    
            background-color: $colorThemePrimary;
            min-width: 300px;
            height: 500px;
            margin: 0px 10px 0px 0px;
            padding:30px 30px 30px 30px;
            
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            div{
                font-family: $font-familyTitle;
                font-size: $font-sizeTitle;
                font-weight: $font-weigthTitle;
                color:$font-ColorLigth;
                line-height: $lineHeigthTitle;

            }
            p{
                font-family: $font-familySubTitle;
                font-size: $font-sizeSubTitle;
                font-weight: $font-weigthSubTitle;
                
                color:$font-ColorLigth;
                margin:40px 0px 50px 0px;
                text-align: justify;

            }
            .contato{
                width: 100%;
                display: flex;
                a{
                    text-decoration: none;
                    background-color: $colorThemeLight;
                    width: 140px;
                    height: 40px;
                    color:$font-ColorLigth;
                    border-radius: 20px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background-color: $colorThemeSecondary;
                    }
                }
            }
            

        }
        .slider{
            flex:3;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 300px;
            max-width: 1500px;
            
        
            
        img{
            max-width:inherit;
            max-height: 500px;
            padding-right:10px;
            
           
        }
        .slick-next{
            right: 30px;
            z-index: 100;

        }
        .slick-prev{
            left:30px;
            z-index: 100;
        }
        .slick-dots{
            bottom: 0px;
            z-index: 100;
        }
    
    
        }

    }
    
    
}
