.projetos{
    height: 750px;
    background-image:linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)),  url("../img/Projetoscerto.jpg");
    background-size: cover;
    background-position:center;
    
}
.projetos__container{
    display: flex;
    width: 1340px;
    margin: auto;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    
}
.projetos__container header{
    display: flex;
    align-items: center;
    flex:1;
   
   

}
.projetos__content{
    flex:1;
}
.title{
    height: unset;
}
.projetos__content ul{
    display: flex;
    list-style: none;
    height: 550px;
    max-width: 550px;
    
    flex-wrap: wrap;
    

}
.projetos__content ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 260px;
    margin:7px;
    background-color: rgb(245, 241, 241);
    
}
.projetos__content ul li:hover{
     background-color: white;
     cursor: pointer;
}
.projetos__content ul li a{
    text-decoration: none;
    font-size: 25px;
    color:black;
    font-weight: bolder;
    text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}