
.lazer__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
    
    background-color: white;
}
header h3{
    font-size: 22px;
}
.livros__title{
    display: flex;
    align-items: center;
    height: 70px;
   
}
.lazer__livros{
    width: 1340px;
    margin: auto;
    height: 500px;
   
}
.lazer__livros1 ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.lazer__livros1 ul li{
    height: 390px;
    width: 260px;
    background-color: white;

}
.lazer__livros1 ul li a{
    display: flex;
    height:50px;
    background-color: rgba(0, 0, 0, 0.692);
    flex:1;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    text-align: center;
    padding:15px;
    font-weight: 700;
    text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}
 .livro1,
 .livro2,
 .livro3{
     display: flex;
     justify-content: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-end;

}
.livro1{
    background-image: url("../img/poderdohabito.webp");
}
.livro2{
    background-image: url("../img/rapidoedevagar.jpg");
}
.livro3{
    background-image: url("../img/ofoco.jpg");
}


.filmes header{
    display: flex;
    margin-top: 40px;
    align-items: center;
    height:100px;
}
.lazer__filmes ol li{
    display: flex;
    flex-direction: column-reverse;
    list-style: none;
    
}
.lazer__filmes ol li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    height: 50px;
    font-weight: 900;
    font-size: 20px;
    background-color: #f0efef;
    text-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
iframe{
    border: none;

}
.filmes{
    width: 1340px;
    margin: auto;
}
.lazer__filmes ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    flex-wrap: wrap;
    gap: 15px;
   
}

.musicas__title{
    display: flex;
    width:1340px;
    margin: auto;
    height: 100px;
    align-items: center;
    margin-top: 40px;
}

.musicas{
    height: 500px;
}
.lazer__musicas {
    width: 1340px;
    margin:auto;

}
.lazer__musicas ol{
    display: flex;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    flex-wrap: wrap;
    gap: 15px;
}
.lazer__musicas ol li{
    display: flex;
    width: 250px;
    height: 250px;
    background-color: red;
    justify-content: center;
    align-items: center;
    
}
.lazer__musicas ol li a{
    text-decoration: none;
    color:white;
    text-align: center;

  
}
.contato__title{
    display: flex;
    align-items: center;
    width: 1340px;
    margin: auto;
    height: 100px;
}
.contato__content{
    width: 1340px;
    margin:auto;
    margin-bottom: 30px;
    
}
.contato__content ul{
    list-style: none;
    display: flex;
}

.icon img{
    height: 50px;
    width: 50px;
    margin:10px;
    cursor: pointer;
    border-radius: 50%;
}
footer{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 200px;
}
.dot{
    width:70px;
    height: 7px;
    background-color: rgb(248, 0, 0);
    margin-bottom:10px ;
}
.contato__title{
    width: 1340px;
    margin: auto;
    display: flex;
    justify-content: center;
}
