*{
    box-sizing: border-box;
}
#section1{
    display:flex;
    flex-direction:column;
    background-image: url(https://www.tribuna.ro/images-up/2018_02_22_1_ce-servicii-medicale-primesti_4607.jpg);
    height: 670px;
    background-position:bottom;
    background-size:cover;
    align-items: center;
}
#area1{
    display:flex;
    align-items: center;
    flex:1;
    width:990px;

}


#container_geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:350px;
    width: 350px;
}
#title{
    margin:0;
    padding:0;
    font-size:70px;
    color:white;
    text-shadow: 1px 2px 2px #727272;
}
#descrition{
    margin:30px 0px 0px 0px;
    padding:0;
    font-size:21px;
    color:white;
    text-shadow: 1px 1px 1px #727272;
}
#area2{  /* OPTIONS AREA*/
    display:flex;
    width: 990px;
    height: 210px;
}

.opts{
    flex:1;
    height: inherit;
    color:white;
    box-shadow: -2px 0px 8px  rgba(0, 0, 0, 0.719);

}
#div1{
    background-color: #1597C2;
    padding:20px;
    
}
#div2{
    background-color: #0D70D9;
    padding:20px;
}
#div3{
    display: flex;
    background-color: #0C38CF;
    padding:20px;
    flex-direction: column;
}
.title{
    font-size: 21px;
   
}
#title3{
    margin-bottom: 10px;
}
.descrip{
    font-size: 12px;
    margin:20px 0px 20px 0px;
   
}
.button{
    display:block;
    width: 100px;
    padding:7px;
    border: solid 1px white;
    font-size: 12px;
    
   
    
}

.op3{ 
    display:flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.568);
}
#donw3{
    margin-bottom: 20px;
}
#area2 a{
    padding:5px;
    text-decoration:none;
    color:white; 
}



















