@media (max-width:1070px) {
    .section-banner{
        .banner{
            display:block;
            .banner-left{
            margin: 0px 0px 0px 0px;

            }
            
            .slider{
                margin-top: 30px;
               
               img{
                   padding-left: 10px;
               }
                

            }
        }

    }
  

    
}
@media(max-width:800px){
    .invert{
        .categorias{
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
    }
    .categorias{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    footer{
        flex-direction: column;
    }


}